/*
font-family: 'Nunito Sans';
*/


* {
  font-family: 'Nunito';
}

body {
  margin: 0;
  color: white;
  background-image: url("./assets/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}